#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
}

#scoreText{
    font-family: cursive;
    font-size: 100px;
}

#resetBtn{
    font-family: cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    border: 4px solid;
    cursor: pointer;
    
}
