#gameContainer{
    font-family: cursive;
    text-align: center;
}
#gameBoard{
    border: 3px solid;
    text-align: center;
}
#scoreText{
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 10px;
}
#resetBtn{
    font-family: cursive;
    width: 100px;
    height: 50px;
    border-radius: 12px;
    border: 4px solid;
    font-size: 22px;
    
    cursor: pointer;
    text-align: center;
}