.cell{
    width: 75px;
    height: 75px;
    border: 2px solid #000;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    /* text-align: center; */
    cursor: pointer;
} 

#gameContainer{
    font-family: "permanent marker", cursive;
    text-align: center;
    
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}