.choiceBtn{
    height: 30px;
    width: 150px;
    border-radius: 15px;
}
#gameDiv{
    font-family: 'Brush Script MT',cursive;
    border: 3px solid;
    border-radius: 25px;
    padding: 20px;
    background-color: lightgrey;
    text-align: center;
}

#playerText{
    color: blue;

}

#computerText{
    color: red;
    
}