.timerBtn{
    width: 80px;
    height: 30px;
    border: 3 px solid;
    border-radius: 12px ;
    border-color: white;
    background-color: #2e2d2d;
    color: white;
    cursor: pointer;
    font-family: consolas,monospace;
    margin: 05px 20px 5px 20px ;
}
#timeDisplay{
    font-size: 75px;
    color: rgb(51, 172, 51);
    font-family: consolas,monospace;

}
#timeContainer{
    text-align: center;
    border: 3px solid;
    border-radius: 25px;
    background-color: #2e2d2d;
}